.footer-banner {
}
.mainFooter_invisible {
  visibility: hidden;
}
.mainFooter {
  height: 40px;
  background-color: #ECB104;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222a30;
}

